<div class="about-container">
    <div class="about-info">
        <div class="info">
            <h1>About</h1>
            <app-carousel [info]="info_1" [autoSlide]="false" [textCarousel]="true"></app-carousel>
        </div>
        <div class="img-about">
            <img src="img/about-img.png" alt="mac">
        </div>
    </div>
    <div class="values-container">
        <h2>Company Values</h2>
        <div class="values1">
            <div class="value">
                <h3>Continuous innovation</h3>
                <div class="innovation-icon">
                    <img src="icons/innovation-icon.svg" alt="Continuous innovation">
                </div>
            </div>
            <div class="value">
                <h3>Integrity and ethics</h3>
                <div class="ethics-icon">
                    <img src="icons/ethics-icon.svg" alt="Integrity and ethics">
                </div>
            </div>
            <div class="value">
                <h3>Quality and excellence</h3>
                <div class="quality-icon">
                    <img src="icons/quality-icon.svg" alt="Quality and excellence">
                </div>
            </div>
        </div>
        <div class="values2">
            <div class="value">
                <h3>Teamwork</h3>
                <div class="teamwork-icon">
                    <img src="icons/teamwork-icon.svg" alt="Teamwork">
                </div>
            </div>
            <div class="value">
                <h3>Customer Orientation</h3>
                <div class="customer-icon">
                    <img src="icons/custumer-icon.svg" alt="Customer Orientation">
                </div>
            </div>
        </div>
    </div>
</div>

